[submodule "instalistsynch"]
	path = instalistsynch
	url = git@bitbucket.org:fhnoorg/instalistsynch.git
[submodule "jsonimexport"]
	path = jsonimexport
	url = git@bitbucket.org:fhnoorg/jsonimexport.git
[submodule "instantlistcommondata"]
	path = instantlistcommondata
	url = git@bitbucket.org:fhnoorg/instantlistcommondata.git
